# Virtual environment
venv/
env/
ENV/
telenv/

# Compiled files
*.pyo
*.pyd
*.pyc
config.py

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Debug files
*.bak
*.swp
*.DS_Store
debug.log

# IDE
.idea/
*.iml